.download
  cursor: pointer
  &:hover
    text-decoration: underline
.chekall
  position: relative
  min-width: 70px
  display: flex
  justify-content: center
  align-items: center
.file
  &_add_btn
    position: relative
    display: flex
    justify-self: center
    align-items: center
    height: 45px
    width: 100%
    padding: 0
    border-top: 2px solid #e8e8e8
    transition: all .3s ease
    & .file_text
      cursor: pointer
      height: 100%
      width: 100%
      line-height: 45px
      color: $lightColor
      text-align: center
      &:hover
        color: tomato
        
  &_input
    display: none
  &_status
    position: absolute
    right: 10px
    top: 10px
  &_actions
    position: absolute
    bottom: 35px
    left: 0
    width: 100%
    display: flex
    justify-content: flex-start
    flex-direction: row
    gap: 30px
    padding: 20px
    z-index: 100
  &_form
    position: absolute
    background-color: $sbgColor
    bottom: 0px
    right: 0px
    height: 100%
    width: 100%
    padding: 0
    transition: all .3s ease
    z-index: 80
    &_wrap
      position: relative
      width: 100%
      height: 100%
      padding: 20px
  &_size
    width: 90px
    display: inline-block
  &_wrap
    display: flex
    flex-direction: row
    &_text
      position: absolute
      left: 0
      top: 0
      z-index: 0
      text-align: center
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      flex-direction: column
      opacity: 0.2
      text-transform: uppercase
      font-size: 1.2rem
  &_list
    list-style-type: none
    width: 100%
    height: 100%
    max-height: 600px
    position: relative
    overflow-x: auto
    padding-bottom: 70px
    z-index: 30
    ul
      display: flex
      justify-content: flex-start
      flex-direction: column
      li
        display: flex
        justify-content: space-between
        flex-direction: row
        width: 100%
        height: 40px
        line-height: 40px
        color: $dark
        border-bottom: 1px solid $border
        .file
          &_delete
            color: $red
            width: 25px
            height: 25px
            text-align: center
            cursor: pointer
          &_name
            text-align: left
            margin-right: 15px
            width: 90%
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
  &_btn

  &_uploader
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 250px
    height: 250px
    margin: auto
    &_percent
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      margin: auto
      width: 100%
      height: 100%
      line-height: 250px
      text-align: center
      font-size: 3rem
      border-radius: 100%
      box-shadow: 0 10px 12px rgba(0, 0, 0, .16), 0 5px 15px rgba(0, 0, 0, .23)

.loader
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: #fff
  z-index: 110
  .xpath
    transition: all .2s ease
    animation-delay: 6s