#sidebar
  height: 100%
  position: relative
  overflow-y: auto
  margin: 0
  padding: 0
  box-sizing: border-box
  min-width: 300px
  background-color: $sbgColor
  & .switch
    position: absolute
    right: 15px
    bottom: 15px
    z-index: 99
  & .folder
    &_list
      width: 100%
      height: auto
      max-height: 600px
      list-style-type: none
      &_head
        cursor: pointer
        width: 100%
        padding: 15px 20px
        display: flex
        justify-content: space-between
        &:hover
          background-color: rgba($sdark,.3)
        &_close
          width: 100%
          display: flex
          justify-content: flex-start
          height: 30px
          line-height: 30px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          & .fa
            margin-right: 15px
            line-height: 30px
      &_item
        position: relative
        padding: 10px 25px
        margin: 15px auto
        width: 100%
        max-width: 80%
        cursor: pointer
        font-size: 1rem
        border-radius: 1rem
        color: $scolor
        transition: all .5s ease
        &:hover,&.is_active
          // box-shadow: $inner-shadow
        &_name
          position: relative
          width: 100%
          height: 30px
          line-height: 30px
          display: flex 
          justify-content: space-between
          font-size: 1rem
          &_text
            width: 90%
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
          &_icon
            line-height: 30px
            color: $scolor
#resizer
  flex-basis: 2px
  position: relative
  z-index: 400
  cursor: pointer//col-resize
  box-shadow: $shadow
  background: $sbgColor
  margin: 0
  padding: 0
  box-sizing: border-box
  transition: all .3s ease
  &:hover,&.is_active
    transition: all .3s ease
    &:before
      background: $gradientLight
      color: $saccent
  &:before
    content: '\f07e'
    font-family: 'FontAwesome'
    position: absolute
    left: -15px
    top: 0
    bottom: 0
    margin: auto
    border-radius: 5px
    width: 30px
    height: 30px
    text-align: center
    box-shadow: $shadow
    background: $sbgColor
    line-height: 30px