$font_regular: "roboto-regular", sans-serif
$font_medium: "roboto-medium", sans-serif
$font_light: "roboto-light", sans-serif
$font_black: "roboto-black", sans-serif
$font_bold: "roboto-bold", sans-serif

$color: #212121
$accent: tomato
$dark: #252831
$lightColor: #a7a7a7
$border: #e8e8e8
$green: #7bd158
$red: #ff6464
// $shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

$theamDark: #514878
$theamDarkH: #464d72
$theamDarkBorder: #282d38
$theamDarkColor: #eceffc

// sqewamorphism light
$sbgColor: #E4EBF5
$scolor: #9baacf
$sdark: #9baacf
$saccent: #6d5dfc
$gradientLight: linear-gradient(to bottom right, #c8d0e7 0%, white 100%)
$shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem white
$inner-shadow: inset .2rem .2rem .5rem #c8d0e7, inset -.2rem -.2rem .5rem white
// sqewamorphism darck
$sbgColorD: #3a3842
$scolorD: #77ca
$sdarkD: #686970
$saccentD: #6d5dfc
$gradientDark: linear-gradient(to bottom right, #0f131b 0%, #1b1e28 100%)
$accentDradient: linear-gradient(to bottom right, #ff42a6 0%, #fedc3a 100%)
$shadowD: 7px 7px 14px #393e5c,-7px -7px 14px #535c88
$inner-shadowD: inset 7px 7px 14px #393e5c,inset -7px -7px 14px #535c88
  