@import 'utils/fonts'
@import 'vars'
@import 'libs'
*
  padding: 0
  margin: 0
  box-sizing: border-box
body
  color: $dark
  // background-color: $dark
  overflow-x: hidden
  font-family: $font_regular
#home
  display: flex
  justify-content: space-between
.content
  position: relative
  width: 100%
  min-height: 100vh
#app
  display: block
  width: 100%
  height: 100%
  position: relative
  border-top: 2px solid #e8e8e8
@import 'header'
@import 'sidebar'
@import 'drag'
@import 'smalltalk'