@import 'utils/fonts'
@import 'vars'
@import 'libs'
*
  padding: 0
  margin: 0
  box-sizing: border-box
body
  color: $dark
  // background-color: $dark
  overflow-x: hidden
  font-family: $font_regular
#home
  display: flex
  justify-content: space-between
.content
  width: 100%
  min-height: 100%
  margin-left: 25rem
@import 'header'
@import 'sidebar'
@import 'drag'
@import 'smalltalk'